body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#canvas {
    width: 100%;
    height: 600px;
    background: #AAA;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    float: left;
}

.map-column {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 10px;
}

.tool-column {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 40px;
}

#wkt {
    width: 100%;
    height: 200px;
    display: block;
}

#reset {
    float: right;
}
